.button
  padding 6px 10px
  border 1px solid black
  background linear-gradient(#444, #2c2c2c)
  color #f2f2f2
  font-family Source Sans Pro
  font-size 12px
  outline none

  &:hover
    background linear-gradient(lighten(#444, 5%), lighten(#2c2c2c, 5%))

  &:active
    background #2c2c2c

  + .button
    margin-left 1px

  &:first-child
    border-radius 3px 0 0 3px

  &:last-child
    border-radius 0 3px 3px 0

  &:only-child
    border-radius 3px

.button__icon
  position relative
  top 1px
  vertical-align middle

  .button__label + &
    margin-left 10px
