textarea
  width 50%
  padding 20px
  border none
  background #ccc
  font-family Source Code Pro
  font-size 14px
  font-weight 600
  outline none

.cm-container
  position relative
  width 50%

.CodeMirror
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height auto
  padding 10px
  font 14px/18px Source Code Pro

.preview
  width 50%
  padding 20px
  overflow auto
  font-family sans-serif

.preview p
  margin 0 0 1em 0

.preview img
  max-width 100%
