.editor
  position absolute
  left 200px
  top 30px
  right 0
  bottom 0

textarea
  position absolute
  top 0
  left 0
  bottom 0
  width 50%
  padding 20px
  border none
  background #ccc
  font-family Source Code Pro
  font-size 14px
  font-weight 600
  outline none

.CodeMirror
  position absolute
  top 0
  left 0
  bottom 0
  width 50%
  height 100%

.preview
  position absolute
  top 0
  right 0
  bottom 0
  width 50%
  padding 20px
  overflow auto
  font-family sans-serif

.preview p
  margin 0 0 1em 0

.preview img
  max-width 100%
