.editor-panes
  position relative
  height 100%
  width 100%

.editor
  position absolute
  top 0
  left 0
  z-index 1
  width 100%
  height 100%

.editor--is-focused
  z-index 2

.cm-container
  position relative
  width 50%

.CodeMirror
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  height auto
  padding 10px
  font 14px/18px Source Code Pro

.preview
  width 50%
  padding 20px
  overflow auto
  background #fff
  font-family sans-serif

.preview p
  margin 0 0 1em 0

.preview img
  max-width 100%
