.image-toolbar
  padding 5px
  background #808080

.image-list
  list-style none
  display flex
  flex-direction row
  flex-wrap wrap
  align-items center
  justify-content space-around
  overflow auto
  height 100%

.image-list__item
  width 200px
  margin 10px
  padding 5px
  background black
  transition all .1s

  &:hover
    background #808080
    transform scale(1.1)

  img
    display block
    max-width 190px
    max-height 190px
    margin 0 auto
    border 1px solid black
