.preview
  width 50%
  padding 20px
  overflow auto
  background #fff
  font-family Arial, sans-serif
  font-size 14px
  line-height 20px
  color #535353

  h2
    margin 36px 0 20px 0
    font-size 20px
    line-height 20px
    font-weight 400

    &:first-child
      margin-top 0

  h3
    margin 0 0 20px 0
    font-size 18px
    line-height 20px
    font-weight 500

  hr
    display none

  a
    color #00827F
    text-decoration none

    &:hover
      text-decoration underline

  p, ul, ol
    margin 0 0 20px 0

  ul, ol
    padding-left 34px

  img
    display block
    max-width 100%
