.progress
  position relative
  height 30px
  overflow hidden
  background #424242
  border-radius 3px

.progress__bar
  height 100%
  background #224BB5
  transition width .1s

.progress__label
  position absolute
  top 0
  left 0
  width 100%
  font-weight bold
  line-height 30px
  text-align center
  color #f2f2f2
