.tab-bar
  display flex
  flex-direction row
  flex 0 0 auto
  border-bottom 5px solid #d2d2d2
  list-style none
  font-size 12px
  line-height 30px
  -webkit-user-select none


// Tab items

.tab-bar__item
  position relative
  display inline-block
  flex 1
  width -webkit-min-content
  max-width 160px
  min-width 60px
  padding 0 20px 0 8px
  overflow hidden
  text-overflow ellipsis
  text-align center
  white-space nowrap
  background #808080
  border-radius 2px 2px 0 0
  color #efefef
  -webkit-font-smoothing subpixel-antialiased
  cursor default

  &:hover
    background #2c2c2c

.tab-bar__item--is-focused
  flex 2
  background #d2d2d2
  color #2c2c2c
  -webkit-font-smoothing antialiased

  &:hover
    background #d2d2d2


// Close icon

.tab-bar__close
  position absolute
  right 4px
  top 50%
  margin-top -8px
  width 16px
  height 16px
  color white
  text-align center
  line-height 16px
  transform scale(0)
  transition transform .1s

  &:before
    @extends $icon, .icon-x:before
    font-size 12px
    line-height 16px

    .tab-bar__item--is-dirty &
      @extends .icon-primitive-dot:before

  .tab-bar__item--is-focused &,
  .tab-bar__item:hover &
    transform scale(1)

  .tab-bar__item:hover &:before
    @extends .icon-x:before

  .tab-bar__item--is-focused &
    color #535353
