.tab-bar
  list-style none
  background black
  padding-top 4px
  display -webkit-flex
  -webkit-flex-direction row
  font-size 12px
  line-height 26px
  -webkit-user-select none

.tab-bar__item
  position relative
  display inline-block
  -webkit-flex 1
  width -webkit-min-content
  max-width 160px
  min-width 60px
  padding 0 10px
  margin-left 2px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  background black
  border-radius 4px 4px 0 0
  color white
  cursor default
  transition background .2s

  &:hover
    background #808080

.tab-bar__item--is-focused
  -webkit-flex 2
  background #ccc
  color black

  &:hover
    background #ccc

.tab-bar__item--is-dirty:before
  content "* "
  font-weight bold

.tab-bar__close
  position absolute
  right 4px
  top 50%
  margin-top -5px
  width 10px
  height 10px
  background-image url(icons/x.svg)
  background-position center center
  background-size cover
  transform scale(0)
  transition transform .1s

  .tab-bar__item--is-focused &,
  .tab-bar__item:hover &
    transform scale(1)
