.tree
  position relative
  z-index 2
  display flex
  flex-direction column
  width 300px
  min-width 200px
  max-width 50%

.tree__scroller
  flex 1
  overflow auto
  height 100%
  background #d2d2d2
  -webkit-user-select none

.tree__resizer
  position absolute
  right -5px
  top 0
  bottom 0
  width 5px
  cursor col-resize


// Tree node lists

.tree__node-list
  list-style none
  display none
  font-size 12px
  line-height 26px

  .tree__node--is-open > &
    display block

.tree__node-list--is-root
  display block
  position relative
  padding 10px 0 10px 10px
  min-width -webkit-min-content
  height 100%


// Tree nodes

.tree__node
  .tree__node
    padding-left 20px

  &:before
    content ""
    display none
    position absolute
    background #808080
    left 0
    right 0
    height 26px

.tree__node--is-selected:before
  display block


// Tree labels

.tree__label
  position relative
  display block
  padding-right 5px
  color #2c2c2c
  white-space nowrap
  cursor default

  .tree__node--is-selected > &
    color #f2f2f2

  .label-input
    position absolute
    top 0
    left 18px
    right 0

  input
    display block
    box-sizing border-box
    height 26px
    width 100%
    padding 0 5px 0 4px
    border none
    background #ffffff
    font-size inherit
    font-family inherit
    outline none


// Tree label icons

.tree__label:before
  position relative
  top 3px
  display inline-block
  margin-right 8px
  text-align center
  font-size 16px
