.tree
  position relative
  z-index 2
  -webkit-flex 0 0 auto
  width 300px
  height 100%
  background #d2d2d2
  -webkit-user-select none

.tree__resizer
  position absolute
  right -5px
  top 0
  bottom 0
  width 5px
  cursor col-resize

.tree__scroller
  height 100%
  overflow auto


// Tree node lists

.tree__node-list
  list-style none
  display none
  font-size 12px
  line-height 26px

  .tree__node--is-open > &
    display block

.tree__node-list--is-root
  display block
  position relative
  padding 10px
  min-width -webkit-min-content
  height 100%


// Tree nodes

.tree__node
  .tree__node
    padding-left 20px

  &:before
    content ""
    display none
    position absolute
    background #808080
    left 0
    right 0
    height 26px

.tree__node--is-selected:before
  display block


// Tree labels

.tree__label
  position relative
  display block
  padding-right 5px
  color #2c2c2c
  white-space nowrap
  cursor default

  .tree__node--is-selected > &
    color #f2f2f2


// Tree label icons

.tree__label:before
  position relative
  top -2px
  display inline-block
  width 14px
  height 14px
  margin-right 8px
  vertical-align middle
  text-align center
  font-family iconic
  font-size 14px
  line-height 14px
  font-weight normal

.tree__label--is-folder:before
  content "\e66d"

.tree__label--is-file:before
  content "\e61d"

.tree__node-list--is-root > .tree__node > .tree__label--is-folder:before
  content "\e66b"
