@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import "reset.css";

body {
  font-family: Open Sans;
  color: #535353;
}

/*====================================*\
  #SECTION-TOOLBAR
\*====================================*/

.toolbar {
  position: absolute;
  right: 20px;
  top: 20px;
}

.toolbar button + button {
  margin-left: 10px;
}



/*====================================*\
  #SECTION-TREE-VIEW
\*====================================*/

.tree {
  position: relative;
  width: 300px;
}

.tree__node-list {
  list-style: none;
  display: none;
  font-size: 14px;
  line-height: 24px;
}

.tree > .tree__node-list {
  display: block;
}

.tree__node--is-open > .tree__node-list {
  display: block;
}

/* .tree__node {
  position: relative;
} */

  .tree__node .tree__node {
    padding-left: 20px;
  }

  .tree__node--is-selected:before {
    content: "";
    position: absolute;
    background: #ccc;
    left: 0;
    right: 0;
    height: 24px;
  }

  .tree__label {
    position: relative;
    display: block;
    cursor: pointer;
  }

  .tree__label:hover {
    color: #000;
  }

  .tree__label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 4px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
  }

  .tree__node--is-folder > .tree__label {
    font-weight: bold;
  }

  .tree__label--is-folder:before {
    background-image: url(icons/folder.svg);
  }

  .tree__label--is-file:before {
    background-image: url(icons/file.svg);
  }
