/*====================================*\
  Toolbar
\*====================================*/


.toolbar {
  position: absolute;
  right: 0;
  top: 0;
  left: 200px;
  height: 30px;
  padding: 5px;
  background: #535353;
  text-align: right;
}

.toolbar button + button {
  margin-left: 10px;
}
